body {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

a {
    text-decoration: none
}

.nabvbar_margin {
  margin-left: 30px;
}

.navbar {
  margin:0;
  padding:0;
  height: 50px;
  background-color: #3a3f41;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;


}

.container {
  margin: 0 auto;
  width: 1170px;

  margin-right: auto;
  margin-left: auto;


}

.navbar_inner {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_logo {
  color: #fff;
  font-size: 20px;


}

.navbar_logo_text {
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.navbar_free_section {
      flex: 1;
}

.navbar_searchbar {
  position: relative;
  background-color: #2b2b2b;
  border-radius: 3px;
}

.navbar_search_icon {
  padding-left: 10px;
  padding-right: 0px;
  color: gray;
  pointer-events: none;
  font-size: 12px;
}

.navbar_search_input {
width: 270px;
padding: 6px 10px 6px 10px;
color: #e3e3e3;
font-size: 12px;
font-weight: 300;
background-color: transparent;
border: none;
outline: 0;
}

.user_button {
  color: #fff;
}

.songs_filters_container {
  margin: 0 auto;
  width: 1170px;

  margin-right: auto;
  margin-left: auto;

}

.filters_bar {
  margin:0;
  padding:0;
  height: 40px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 1px solid #e3e3e3;
  position: relative;
  z-index: 2;
}

.stickybar {
  position: fixed;
  top: 0;
  width: 100%;
}

.songs_filters {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.songs_filter {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  border-left: 1px solid #e3e3e3;

}
.songs_filter a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 36px;
    color: #adadad;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
}

.songs_filter a:hover {
  color: black;
  transition: all .2s ease-in-out;
}

.time_filters a {
  display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
height: 100%;
margin-left: 20px;
color: #adadad;
font-size: 11px;
font-weight: 300;
border-bottom: 1px solid transparent;
border-top: 1px solid transparent;
}

.time_filters a:hover, a:active {
  transition: all .2s ease-in-out;
  color: #3381b7;
}

.time_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 36px;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  padding: 0px 15px;

}

.time_filters {
  display: flex;
  flex-direction: row;
  color: #adadad;
}

.content_container {
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  padding-top: 40px;
}

.song_img {
 background-image: url("https://at-cdn-s02.audiotool.com/2017/03/24/documents/1WdwVTwTHLm3V1fofi7ZYQw48rDZTpJ/0/cover256x256-143e5e191e9d41f6bce8faa6032ce43e.jpg");
 height: 70px;
 width: 196px;
 background-repeat: no-repeat;
 background-position: center;
 background-size: 100%;
}
.song_img:hover {
  cursor:pointer;
}

.row {
  width: 1190px;
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;

}

.row_margin {
  margin-left: 20px;
}

.song_card {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  width:196px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  display: inline-block;

}


.song_info {
  height: 30px;
  width: 196px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-top: 10px;

  margin-right: auto;
  margin-left: auto;
}

.artist_avatar {
  background-image: url(https://i1.sndcdn.com/avatars-000277084168-f4wgq2-large.jpg);
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-size: cover;
  border-radius: 50%;
}

.song_artist {
  font-size: 11px;
  line-height: 13px;
  width: 162px;
  letter-spacing: 0.3px;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.song_favorite {
  font-size: 11px;
  text-align: right;
  width:30px;
  color: #ccc;
}

.artist {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
  width: 162px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

.artist a {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color:black;
}

.song a {
  color:#3381b7;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.artist_info {
  width: 132px;
  color: #3381b7;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.player {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 48px;
    background-color: #fff;
    border-top: 1px solid #e3e3e3;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 999;
}


.player_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%;
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;

}

.player_song_artwork {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  background: no-repeat 50%;
  background-size: cover;
}

.player_song_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
}

.player_nowplaying {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 8px;
  overflow: hidden;
  }

.player_song_title {
  display: block;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #222;
  line-height: 17px;
}

.player_song_artist {
  display: block;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #3381b7;
}

.player_control_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
}

.player_button {
    position: relative;
    color: #ccc;
    z-index: 1;
}

.player_margin {
  margin-left: 30px;
}

.player_button_play {
    position: relative;
    color: #ccc;
    z-index: 1;
    font-size: 13px;
    margin-top: -2px;
}

.player_timebar {
  margin-left: 40px;
  width: 300px;
}

.slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 8px 0;
    outline: 0;
}

.slider_bar {
    width: 100%;
    height: 2px;
    background-color: #ddd;
    outline: 0;
}

.player_time_status {
  margin: 40px;
}

.player_time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  color: #ccc;
  font-size: 11px;
}

.player_time_separator {
    margin: 0 10px;
}

.player_options {

  display: flex;
  flex-direction: row;
  align-items: center;

  height: 100%;
}

.player_volume {
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 150px;
  height: 100%;
}

.slider_handle {
  position: absolute;
  top: -5px;
  right: -6px;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #e3e3e3;
  outline: 0;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 8px 0;
  outline: 0;
}

.slider_bar_fill {
    position: relative;
    height: 100%;
    background-color: #7ec57c;
}
